<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/92992f5a3f.js" crossorigin="anonymous"></script>
    <title>Around the World - Adventures Await</title>
</head>

<body>
    <div class="color-overlay">
        <!-- The video -->
        <div id="video">
            <iframe width="100%" height="100%"
                src="https://www.youtube.com/embed/7KXGZAEWzn0?start=1474&controls=0&autoplay=1&showinfo=0&autohide=1&enablejsapi=1"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                onload='playVideo();'>
            </iframe>
        </div>
    </div>

    <div class="content">
        <div id="landing-header">
            <h1 class="mb-3" id="mainText">Stuck planning your next vacation?</h1>
            <h3 class="font-italic font-weight-light" id="secondText">Grab a friend and start exploring now!</h3>
            <a href="/collections" class="btn btn-md btn-success">View Collections</a>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#mainText').hide().fadeIn(3000);
            $('#video').hide().fadeIn(8000);
            $("#player")[0].src += "?autoplay=1";
        });
        function playVideo(){
            $('.ytp-large-play-button').trigger('click');
            $("#player")[0].src += "?autoplay=1";
        }
    </script>

    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>