body {
    /* background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%; */

    font-family: 'Work Sans', sans-serif;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    color: black;
    width: 50%;
    padding: 20px;
    margin-top: 33vh;
    font-size: 5px;
    margin-left: 25vw;
  }

h1 {
    font-weight: bold;
    background: #3142CE;
    background: -moz-linear-gradient(left, #3142CE 0%, #3DA48E 50%, #6CC57D 100%);
    background: -webkit-linear-gradient(left, #3142CE 0%, #3DA48E 50%, #6CC57D 100%);
    background: linear-gradient(to right, #3142CE 0%, #3DA48E 50%, #6CC57D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
}
