body { 
    margin: 0; 
    padding: 0; 
}

#map { 
    /* top: 56px; 
    bottom: 0;  */
    height: 400px;
    width: 100%; 
}

.controlBar {
    max-height: 100vh;
}

.infoAndComments {
    position: relative;
    top: 0px;
}